$bg-color: #3e387d;

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

html {
  @media screen and (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media screen and (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  width: 100vw;
  height: 100vh;
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
}

button {
  border: 0;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

